@font-face {
    font-family: Popins-Black;
    src: url(fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: Popins-light;
    src: url(fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Popins-Bold;
    src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Popins-Semi-Bold;
    src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: Popins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Popins-Medium;
    src: url(fonts/Poppins-Medium.ttf);
}
body{
    font-family: Popins-Regular;
}
p{
    font-family: Popins-Regular;
}
.navbar{
    background-color: #fdfdfe;
}
nav.navbar {
    padding: 30px;
}
a.navbar-brand {
    width: 30% !important;
    text-align: center;
}
ul.navbar-nav li .nav-link {
    margin-right: 20px;
    font-family: Popins-Regular;
    color: #242f51  !important;
    font-size: 16px;
}
ul.navbar-nav li .nav-link:hover{
    color: #000;
}
li.nav-item.try_free .nav-link {
    background:rgb(252 174 101);
    border-radius: 20px;
    color: #fff !important;
    padding-left: 30px;
    padding-right: 30px;
    /* line-height: 0px; */
}
li.nav-item.try_free .nav-link:hover {
    background:rgb(36 47 81);
    transition: .2s;
}
li.nav-item.try_free {
    margin-top: -3px;
}
.choice {
    background-size: contain;
    background-image: url(img/bg.png);
    background-color: #fdfdfe;
}
.main_wrapper{
    margin: 60px;

}
.text_wrapper {
    background: #e2eaed;
    border-radius: 18px;
    margin-top: 160px;
   
}
.text_wrapper p{
    color: #1d253f;
    font-size: 16px;
    font-family: Popins-Regular;
}
.text_wrapper p span {
        margin-right: 10px;
}
.main_wrapper .banner_heading{
    font-family: Popins-Semi-Bold;
}
.main_wrapper .banner_heading h1{
        font-size: 50px;
        line-height: 60px;
}
.main_wrapper .banner_heading p{
    font-family: Popins-Regular;
}
.main_wrapper .banner_heading .try_free a{
    background: #2500f9;
    border-radius: 20px;
    color: #fff !important;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    text-decoration: none;
}
.main_wrapper .banner_heading .try_free .Watch{
    background: transparent;
    color: #2500f9 !important;
}
.try_free {
    margin-top: 30px;
}
.banner-mobile{
    text-align: center;
}

.banner-mobile img {
    width: 60%;
}
section.brand {
    padding: 80px;
    text-align: center;
}
.brand_text {
    padding-bottom: 30px;
}
.brand img {
    width: 40%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.brand_text h4{
    font-family: Popins-Medium;
}
.feature-img img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.feature-content p{
    font-family: Popins-Regular;
}
.feature-main {
    display: flex;
    justify-content: start;
    align-items: center;
}
.feature-img-icon {
    margin-top: -70px;
}
.feature-img-icon img {
    width: 80%;
    margin-right: 23px;
}
.feature-content h4{
    font-family: Popins-Semi-Bold;
    color: #f55767;
    font-size: 22px;
}
.blue h4{
  color: #2563ff;
}
.green h4{
    color: #40975f;
}
.feature-content p {
    font-size: 16px;
}
.feature-content {
    padding-bottom: 50px;
}

.smart{
    margin-bottom: 20px;
}
.smart_jackport,.blurb{
   padding-top: 50px;
   padding-left: 50px;
}
.smart_right_text{
    padding-top: 60px;

}
.smart_jackport h4{
    font-family: Popins-Semi-Bold;
    line-height: 40px;
    font-size: 30px;
    width: 90%;
    border-right: 1px solid #cdcdd1a8;
}
.smart_jackport p{
    font-size: 16px;
    color: #ebebec;
}
.blurb_wrapper{
    margin-bottom: 60px;
}
.blurb_title h4{
    font-family:Popins-Semi-Bold;
}
.blurb_title p{
    font-family: Popins-Regular;
}

.blurb_img img {
    width: 25%;
    padding-bottom: 20px;
}
.design{
    margin-bottom: 100px;
}
.design_img img {
    width: 100%;
}
.design_text h4{
    font-family: Popins-Semi-Bold;
    line-height: 35px;
    font-size: 30px
}
.design_text {
    margin-top: 100px;
}
.try_free a{
    background: #2500f9;
    border-radius: 20px;
    color: #fff !important;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    text-decoration: none;
    font-family: Popins-Regular;
}
.why_choose_blurb{
    text-align: center;
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
    padding: 20px;
    margin: 10px;
}
.why_heading,.why_choose_us{
    padding-bottom: 40px;
}
.why_choose_blurb .why_heading p{
    text-align: center;
}
.why_choose_us .why_heading{
    text-align: center;
}
.why_choose_blurb h4{

    font-family: Popins-Semi-Bold;
    line-height: 40px;
    font-size: 18px;
}
.choose_blurb_img img{
    width: 20%;
}
.title p{
    text-align: center;
}
.main_ultimate {
    display: flex;
    justify-content: space-around;
}
.main_ultimate h4,.main_ultimate p,.main_ultimate .choose_blurb_img{
    text-align: left;
}
.main_ultimate .choose_blurb_img{
    margin-bottom: 20px;
}
.ultimate .why_heading h4 {
    font-size: 30px;
}
.why_heading h4 {
    font-size: 30px;
    font-family: Popins-Semi-Bold;
}
.main_ultimate .why_choose_blurb h4{
    font-size: 18px;
}
.main_ultimate .title h4{
    font-family: Popins-Semi-Bold;
}
.design_img_2 {
    margin-top: -100px;
}
.pkgs .why_heading {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.pricing .row>*{
    padding: 0;

}
.pricing{
	min-height: 100vh;
	/* padding: 100px 0; */
}
.pricing .switch-table{
	width: 100%;
	padding:0 15px;
	text-align: center;
	margin-bottom: 35px;
}
.pricing .switch-table div,
.pricing .switch-table .custom-switch{
	display: inline-block;
}
.pricing .switch-table .text-monthly,
.pricing .switch-table .text-yearly{
	color: #ffffff;
	text-transform: capitalize;
	font-size: 18px;
	transition: color 0.3s ease;
}
.pricing .pricing-main:not(.active) .switch-table .text-monthly,
.pricing .pricing-main.active .switch-table .text-yearly{
	color: var(--color-4);
}
.pricing .switch-table .custom-switch{
	height: 40px;
	width: 100px;
	background-color: #2500f9;
	border-radius: 30px;
	vertical-align: middle;
	margin:0 10px;
	position: relative;
	cursor: pointer;
}
.pricing .switch-table .toggle-switch{
	position: absolute;
	left:-9999px;
}
.pricing .switch-table .custom-switch span{
	display: inline-block;
	height: 28px;
	width: 28px;
	background-color: #ffffff;
	border-radius: 50%;
	position: absolute;
	left:6px;
	top:6px;
	transition: left 0.5s ease;
}
.pricing-table {
    box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px, rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}
.pricing .style-1 .pricing-table-body ul li i.fa-check, .pricing .style-1 .pricing-table-footer a, .pricing .style-1 .pricing-table-header {
    background-color: #f7f9fb;
    /* box-shadow: 0 0 15px rgba(0,0,0,0.3); */
}
.pricing .pricing-table-header {
    padding: 10px 0px;
    text-align: center;
    background-color: #f7f9fb;
}
.pricing .pricing-main.active .switch-table .custom-switch span{
    left: calc(100% - 34px);
}
.pricing .pricing-table{
	background-color: #ffffff;
	width: 30%;
	margin:0 auto;
	border-radius: 10px;
	overflow: hidden;
}
.pricing .pricing-table-header{
	padding: 10px 0px;
    text-align: center;
}
.pricing-table-header p {
    color: #c0c2c5;
}
.pricing .pricing-table-header h3{
    font-size: 22px;
    color: #555555;
    text-transform: capitalize;
    font-weight: 900;
    text-align: center;
}
.pricing .pricing-table-price{
	padding: 0px 0px 30px 0px;
	display: flex;
    background: #f7f9fb;
}
.pricing .yearly-price,
.pricing .monthly-price{
	display: flex;
	padding: 0 30px;
	justify-content: center;
	width: 100%;
	flex-shrink: 0;
	transition: all 0.5s ease;
}
.pricing .pricing-main.active .yearly-price,
.pricing .pricing-main.active .monthly-price{
   transform: translateX(-100%);
}

.pricing .pricing-table-price .currency{
	font-size: 25px;
	color: #555555;
	font-weight: 700;
	line-height: 1;
}
.pricing .pricing-table-price .amount{
	font-size: 85px;
	color: #555555;
	font-weight: 700;
	line-height: 0.8;
}

.pricing .pricing-table-body{
	padding:0 30px;
    margin-top: 30px;
}
.pricing .pricing-table-body ul li{
	font-weight: 300;
	color: #777777;
	margin-bottom: 15px;
	position: relative;
	padding-left: 30px;
    list-style-type: none;
    font-size: 18px;
}
.pricing .monthly-features,
.pricing .yearly-features{
	display: none;
}
.pricing .pricing-main:not(.active) .monthly-features,
.pricing .pricing-main.active .yearly-features{
   display: block;
   animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.pricing .pricing-table-body ul li:last-child{
	margin-bottom: 0;
}
.pricing .pricing-table-body ul li i{
	display: flex;
	height: 20px;
	width: 20px;
	background-color: #bbbbbb;
	color: #ffffff;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 13px;
	position: absolute;
	left:0;
	top:3px;
}
.pricing .pricing-table-footer{
	padding: 30px;
	text-align: center;
}
.pricing .pricing-table-footer a{
	display: inline-block;
	padding: 12px 35px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 10px;
    border-radius: 40px;
	/* transition: box-shadow 0.3s ease; */
    background-color: #2500f9;
}
a.another {
    background-color: #2500f9 !important;
}

.img_test img {
    width: 100%;
}
section.testnimonials {
    padding: 100px 45px;
}